html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p{
	margin: 0;
	padding: 0;
}
html {
	font-family:Helvetica, Arial, sans-serif;
}
body {
	background: url(images/beach.jpg);
	background-size: cover;
}

$color-1-m: #ff9900;
$color-1-l: #ff6600;
$color-1-d: #cc6600;

$color-2-m: #ffcc00;
$color-2-l: #ff9900;
$color-2-d: #cc9900;

$color-3-m: #0033cc;
$color-3-l: #3366ff;
$color-3-d: #000066;

$color-4-m: #0099cc;
$color-4-l: #00ccff;
$color-4-d: #006666;

@mixin gradientHue ($startG, $finishG){
  background: -webkit-linear-gradient($startG, $finishG); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($startG, $finishG); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($startG, $finishG); /* For Firefox 3.6 to 15 */
  background: linear-gradient($startG, $finishG);
}

.header {
	background: url(images/brown_texture.jpg);
	background-size: 100% 100%;
	width: 100%;
	background-color: #fff;
	border-bottom: 2px solid #ddd;
	box-shadow: 0 0 20px 0 #000;
	img {
		margin: 10px 10px 0 10px;
	}
	h1 {
		color: #000;
	}
}
.main-content {
	width: 1000px;
	margin: 50px auto;
	padding: 40px;
	background: url(images/bamboo.jpg);
	box-shadow: 0 0 20px 2px #000;
	border-radius: 100px;
	border: 2px solid #fff;

	.projects-tab, .interests-tab, .videos-tab, .contact-tab {
		position: relative;
		height: 70px;
		width: 150px;
		-ms-transform: translate(50px,100px); /* IE 9 */
   		-webkit-transform: translate(50px,100px); /* Safari */
    	transform: translate(20px,-20px);
    	border-radius: 30px;
    	border: 3px solid #fff;
    	text-align: center;
    	p {
    		padding-top: 15px;
    		color: #fff;
    		font-size: 2em;
    	}
	}
	.projects-tab {
		@include gradientHue($color-2-m, $color-2-d);
	}
	.interests-tab {
		@include gradientHue($color-1-m, $color-1-d);
	}
	.videos-tab {
		@include gradientHue($color-3-m, $color-3-d);
	}
	.contact-tab {
		@include gradientHue($color-4-m, $color-4-d);
	}
	.first {
		box-shadow: -2px -2px 30px 8px #000;
		background-color: hsla(0, 0, 100, 0.9);
		border-radius: 50px;
	}
	.second {
		box-shadow: -2px -2px 30px 8px #000;
		background-color: hsla(0, 0, 100, 0.9);
		border-radius: 50px;
	}
	.section {
		position: relative;
		margin-bottom: 60px;
		float: left;
		width: 700px;
		.profile-pic {
			height: 250px;
			width: 250px;
			float: left;
			margin: 10px;
			margin: 10px -20px -30px 10px;
			border-radius: 80px 50px 50px 50px;
			border-top: 5px solid #fff;
			border-left: 5px solid #fff;
			-ms-transform: translate(-30px,-30px); /* IE 9 */
   			-webkit-transform: translate(-30px,-30px); /* Safari */
    		transform: translate(-30px,-30px);
		}
		h4 {
			line-height: 1.4;
			color: #000;
			padding: 15px;
		}
		.center-content {
			margin-left: 70px;
			text-align: center;
			.project-links {
				margin-top: 15px;
				height: 50px;
				width: 500px;
			}
			div {
				height: 80px;
				background: #fff;
				margin: 30px;
				border-radius: 20px;
				box-shadow: 0 0 10px 5px #000;
				&:hover {
					box-shadow: 0 0 5px 3px #000;
				}
				p {
					color: #fff;
					float: right;
					font-size: 2.1em;
					margin: 18px;
					font-weight: bold;
					margin-right: 40px;
					text-shadow: 0 0 20px #000;
				}
			}

		}
		iframe {
			width: 600px;
			height: 500px;
			padding-top: 10px;
			padding-bottom: 20px;
		}
	}
	.side-options {
		width: 250px;
		height: 500px;
		float: right;
		.videos {
			@include gradientHue($color-1-m, $color-1-d);
		}
		.projects {
			@include gradientHue($color-2-m, $color-2-d);
		}
		.interests {
			@include gradientHue($color-3-m, $color-3-d);
		}
		.contact {
			@include gradientHue($color-4-m, $color-4-d);
		}
		div {
			width: 80%;
			height: 100px;
			margin: 20px auto;
			text-align: center;
			border: 3px solid #fff;
			border-radius: 25px;
			box-shadow: 5px 5px 20px 0 #000; 
			&:hover {
				box-shadow: 5px -5px 20px 0 #000;
				-ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
    			-webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
   				 transform: matrix(1, 0, 0, 1, 2, 2); /* Standard syntax */
    		}
			p {
				font-size: 2em;
				color: #fff;
				margin-top: 30px;
			}
		}

	}
}

.clear {
	clear: both;
}
.indent-text {
	text-indent: 30px;
}