html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p{
	margin: 0;
	padding: 0;
}
html {
	font-family:Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}
body {
	background: url(images/water1.jpg) no-repeat fixed;
	background-size: 100% 100%;
}

$color-1-m: #ff9900;
$color-1-l: #ff6600;
$color-1-d: #cc6600;

$color-2-m: #ffcc00;
$color-2-l: #ff9900;
$color-2-d: #cc9900;

$color-3-m: #0033cc;
$color-3-l: #3366ff;
$color-3-d: #000066;

$color-4-m: #0099cc;
$color-4-l: #00ccff;
$color-4-d: #006666;

@mixin gradientHue ($startG, $finishG){
  background: -webkit-linear-gradient($startG, $finishG); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($startG, $finishG); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($startG, $finishG); /* For Firefox 3.6 to 15 */
  background: linear-gradient($startG, $finishG);
}
@mixin sectionLabel (){
	transform: translateY(-70px);
	font-size: 3em;
	border-radius: 50px;
	font-weight: bold;
	padding-top: 30px;
	border: 4px solid #fff;
	text-align: center;
	color: #fff;
	width: 200px;
	height: 70px;
}
@-webkit-keyframes nameSlide {
    from {transform: matrix(1,0.5,0,10,-500,0);
    	color: #fff;
    	}
    to {transform: translateX(0px);
    	color: #fff;
    	}
	}
@-webkit-keyframes buttonHover {
    from {transform: scale(1,1);}
    to {transform: scale(1.1,1.1);}
	}


.header {
	background: url(images/brown_texture.jpg);
	background-size: 100% 100%;
	width: 1100px;
	background-color: #fff;
	border: 2px solid #ddd;
	box-shadow: 0 0 50px 10px #000;
	margin: -2px auto 0 auto;
	border-radius: 0 0 50px 50px;

	img {
		padding: 10px 0 0 20px;
		position: relative;
	}
	h2 {

		padding: 10px 40px;
		color: transparent;
		font-size: 1.8em;
		-webkit-animation-name: nameSlide;
    	-webkit-animation-duration: 2s;
    	-webkit-animation-delay: 1s;
    	-webkit-animation-fill-mode: forwards;
	}
}

.main-content {
	background: url(images/bamboo.jpg);
	background-size: 100% 100%;
	width: 1000px;
	margin: 30px auto;
	padding: 15px;
	border-radius: 100px;
	border: 3px solid #fff;
	box-shadow: 0 0 50px 10px #000;
		ul.list-options {
			background: url(images/board1.png);
			background-size: 100% 100%;
			list-style-type: none;
			padding: 20px;
			margin-bottom: 40px;
			text-align: center;
				li {
					text-shadow: 0 0 20px #000;
					padding-top: 20px;
					text-align: center;
					border: 3px solid #fff;
					border-radius: 20px;
					display: inline-block;
					width: 15%;
					margin: 2%;
					height: 50px;
					color: #fff;
					font-size: 2.5em;
					font-weight: bold;
					box-shadow: 3px 3px 30px 10px #000;
					&:hover {
						-webkit-animation-name: buttonHover;
    	                -webkit-animation-duration: 0.2s;
    	                -webkit-animation-fill-mode: forwards;
						cursor: pointer;
						box-shadow: 0 0 30px 12px #000;
					}

				}
				.projects {
							@include gradientHue($color-1-l, $color-1-d);
						}
				.videos {
							@include gradientHue($color-2-l, $color-2-d);
						}
				.interests {
							@include gradientHue($color-3-l, $color-3-d);
						}
				.contact {
							@include gradientHue($color-4-l, $color-4-d);
						}						
		}
	.current-content {
		padding: 50px;

		//The class of "wrap" will be the container for all ajax content requests
			.wrap {
				border: 1px solid #fff;
				background-color: #fff;
				padding: 30px;
				border-radius: 70px;
				box-shadow: 0 0 40px 10px #000;

				h2 {
					font-weight: bold;
					margin-bottom: 20px;
					font-size: 1.9em;
					line-height: 30px;
				}

				h3 {
						color: #111;
						font-size: 1.7em;
					}
				//everything below this point are changes made for specific ajax requests and thier content

				//this scss/css is dedicated for the "MAIN" content

					.profile-img {
						box-shadow: -10px -10px 30px 0px #000;
						-ms-transform: translate(-40px, -40px);
  						-webkit-transform: translate(-40px, -40px);
  						transform: translate(-60px, -60px);
  						margin: 10px -50px -50px 10px;
						float: left;
						display: inline-block;
						width: 250px;
						height: 250px;
						border-radius: 50px;
						border: 5px solid #fff;
					}
				//this scss/css is dedicated for the "PROJECTS" content

				div.projects-label {
					@include sectionLabel();
					@include gradientHue($color-1-l, $color-1-d);
				}
				.wrapper {
					background: url(images/wood.jpg);
					background-size: 100% 100%;
					padding: 20px;
					margin: 20px;
					border-radius: 30px;
					box-shadow: 0 0 20px 0 #000;
						h3 {
							color: #fff;
							text-shadow: 0 0 10px #000;
						}
				}
				.project-links {
					height: 70px;
					width: 70%;
					background: url(images/dark_texture.jpg);
					background-size: 100% 100%;
					margin: 10px 10px 10px 0;
					border-radius: 20px;
					box-shadow: 0 0 20px 0 #000;
					text-align: center;
					padding: 5px;
					&:hover {
						-webkit-animation-name: buttonHover;
    	                -webkit-animation-duration: 0.2s;
    	                -webkit-animation-fill-mode: forwards;
						cursor: pointer;
						box-shadow: 0 0 20px 0 #000;
					}
					img {
						width: 90%;
						height: 100%;
					}
				}
					

			}
				
				
	}
}


.clear {
	clear: both;
}
.indent {
	text-indent: 3em;
}
